
@font-face {
    font-family: 'ruddyblack';
    src: url('./ruddy-black-webfont.woff2') format('woff2'),
         url('./ruddy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}