@import "../fonts/ruddy_black/stylesheet.css";
@import "../fonts/ruddy_bold/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    border: 10px solid black;
    min-height: 100vh;
}

div {
    font-family: 'ruddybold';
    color: black;
}

.debug1 {
    width: 500px;
    height: 50px;
    background-color: #F7E828;
}

table, thead, th, td {
    border: black 5px solid;

}

hr {
    height: 1px;
    background-color: transparent;
    border: none;
}

.provetta{
    width: 100%;
}

.titolo_prova{
    font-size: 25px;
}

.descrizione_prova {
    font-family: 'rubik';
}

.svg_dash {
    width: 50px;
}


.button {
    background-color: white;
    transition: 0.1s;

}

.button:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px;
}

.button:active {
    box-shadow: none;
    background-color: #F7E828;
    transform: translate(0, 0);
}