@import "../fonts/ruddy_black/stylesheet.css";
@import "../fonts/ruddy_bold/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    border: 10px solid black;
    min-height: 100vh;
}

div {
    font-family: 'ruddybold';
    color: black;
}

.debug1 {
    width: 500px;
    /* height: 50px; */
    background-color: #F7E828;
}

/* dimensione immagine */
.dimensione {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

table, thead, th, td {
    border: black 5px solid;

}

hr {
    height: 1px;
    background-color: transparent;
    border: none;
}

.provetta{
    width: 100%;
}

.titolo_prova{
    font-size: 25px;
}

.descrizione_prova {
    font-family: 'rubik';
}

.svg_dash {
    width: 50px;
}

.svg_dash:hover {
    filter: invert(73%) sepia(58%) saturate(545%) hue-rotate(12deg) brightness(110%) contrast(103%);
}

.button {
    color: black;
    background-color: white;
    transition: 0.1s;
    padding: 0.25rem;
    display: inline-block;
    border: 2px solid black;  
}

.button:hover {
    text-decoration: none;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px;
    border: 2px solid black; 
    color: black; 
}

.button:active {
    box-shadow: none;
    background-color: #F7E828;
    transform: translate(0, 0);
}